<!DOCTYPE html>
<html lang="pt-br">
<head>

</head>
<header>
    <div class="hamburguer">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav>
        <h2 id="logo">FinHelp</h2>
        <div class="routes">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/clientes">Clientes</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/vendas">Vendas</a></li>
            </ul>
        </div>                  
    </nav>
    <div class="profit">
        <p>Lucro Mensal :</p>
        <p><%= (typeof monthlyProfit === 'number') ? monthlyProfit : 'Erro ao calcular' %></p>
    </div>
</header>
<body>