<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" href="login.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="JS/index.js" type="text/javascript" defer="defer"></script>
</head>
<header>
    <div class="hamburguer">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav>
        <h2 id="logo">FinHelp</h2>
        <div class="routes">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/clientes">Clientes</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </div>
    </nav>
    <div class="profit">
        <p>Lucro Mensal :</p>
        <p>R$ 325,29</p>
    </div>
</header>
<body>