<%- include('partials/header.ejs') %>

<main>
    <div class="tables-wrapper">
        <h2>Clientes Cadastrados</h2>
        <table class="clients-table">
            <tr>
                <th>Clientes</th>
                <th>Contato</th>
                <th>Ações</th>
                <th>Última Compra</th>
            </tr>
            <tr>
                <td>João Bezerra</td>
                <td>(85) 98888-8888</td>
                <td></td>
                <td>Quasar Fire</td>
            </tr>
            <tr>
                <td>Saul Bezerra</td>
                <td>Essencial Supreme</td>
                <td>249,90</td>
                <td>22/02/25</td>
            </tr>
            <tr>
                <td>Samuel Coelho</td>
                <td>Egeo Blue</td>
                <td>129,90</td>
                <td>17/02/25</td>
            </tr>
            <tr>
                <td>Amanda Paolino</td>
                <td>Lily</td>
                <td>159,90</td>
                <td>13/02/25</td>
            </tr>
            <tr>
                <td>Késsia Oliveira</td>
                <td>Club 6</td>
                <td>139,90</td>
                <td>02/02/25</td>
            </tr>
        </table>
    </div>
</main>

</body>