<%- include('partials/header.ejs') %>

<main>
    <div class="tables-wrapper">
        <h2>Clientes Cadastrados</h2>
        <table class="clients-table">
            <tr>
                <th>Clientes</th>
                <th>Contato</th>
                <th>Ações</th>
                <th>Última Compra</th>
            </tr>
            <tr>
                <td>João Bezerra</td>
                <td>(85) 98888-8888</td>
                <td><button>...</button></td>
                <td>Quasar Fire</td>
            </tr>
            <tr>
                <td>Saul Bezerra</td>
                <td>(85) 98888-8888</td>
                <td><button>...</button></td>
                <td>Essencial Supreme</td>
            </tr>
            <tr>
                <td>Samuel Coelho</td>
                <td>(85) 98888-8888</td>
                <td><button>...</button></td>
                <td>Egeo Blue</td>
            </tr>
            <tr>
                <td>Amanda Paolino</td>
                <td>(85) 98888-8888</td>
                <td><button>...</button></td>
                <td>Lily</td>
            </tr>
            <tr>
                <td>Késsia Oliveira</td>
                <td>(85) 98888-8888</td>
                <td><button>...</button></td>
                <td>Club 6</td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>