
    <%- include('partials/header.ejs') %>
    <main>
        <h2>Controle Financeiro</h2>
        <div class="container">
            <div class="tables-wrapper home">
                <h3>Vendas Recentes</h3>
                <table class="recent-sales">
                    <tr>
                        <th>Clientes</th>
                        <th>Produtos</th>
                        <th>Valor R$</th>
                        <th>Data</th>
                    </tr>
                    <tr>
                        <td>João Bezerra</td>
                        <td>Quasar Fire</td>
                        <td>149,90</td>
                        <td>28/02/25</td>
                    </tr>
                    <tr>
                        <td>Saul Bezerra</td>
                        <td>Essencial Supreme</td>
                        <td>249,90</td>
                        <td>22/02/25</td>
                    </tr>
                    <tr>
                        <td>Samuel Coelho</td>
                        <td>Egeo Blue</td>
                        <td>129,90</td>
                        <td>17/02/25</td>
                    </tr>
                    <tr>
                        <td>Amanda Paolino</td>
                        <td>Lily</td>
                        <td>159,90</td>
                        <td>13/02/25</td>
                    </tr>
                    <tr>
                        <td>Késsia Oliveira</td>
                        <td>Club 6</td>
                        <td>139,90</td>
                        <td>02/02/25</td>
                    </tr>
                </table>
            </div>
            <div class="tables-wrapper home">
                <h3>Produtos mais vendidos</h3>
                <table class="most-sold-products">
                    <tr>
                        <th>Produto</th>
                        <th>Vendas</th>
                    </tr>
                    <tr>
                        <td>Quasar Fire</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Egeo Blue</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Lily blanche</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Club 6 voyage</td>
                        <td>2</td>
                    </tr>
                </table>
            </div>
        </div>

        <h2>Revistas Atuais</h2>

        <div class="current-magazines">
            <div class="boticario">
                <h3>Grupo Boticário</h3>
                <div class="catalogs">
                    <a href="https://minhaloja.boticario.com.br/loja-leticiaemillebarrosolima-16352127?page=8" rel="next" target="_blank"><img src="images/catalog/boticario/catalogo1.webp" alt=""></a>
                    <a href="https://minhaloja.eudora.com.br/loja-leticiaemillebarrosolima-16352127?page=2" rel="next" target="_blank"><img src="images/catalog/boticario/catalogo2.webp" alt=""></a>
                    <a href="https://minhaloja.ouiparis.com/loja-leticiaemillebarrosolima-16352127" rel="next" target="_blank"><img src="images/catalog/boticario/catalogo3.webp" alt=""></a>
                    <a href="https://minhaloja.quemdisseberenice.com.br/loja-leticiaemillebarrosolima-16352127?page=2" rel="next" target="_blank"><img src="images/catalog/boticario/catalogo4.webp" alt=""></a>
                </div>
            </div>
            <div class="avon">
                <h3>Grupo Avon</h3>
                <div class="catalogs">
                    <a href=""><img src="images/catalog/avon/natura.svg" alt=""></a>
                    <a href=""><img src="images/catalog/avon/avon.svg" alt=""></a>
                    <a href=""><img src="images/catalog/avon/casaEEstilo.svg" alt=""></a>
                </div>
            </div>
        </div>
        
    </main>
<%- include('partials/footer.ejs') %>