<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="styles/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="container">
        <div class="form-box login">
            <form action="/login" method="post">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Nome de usuário" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="text" name="password" placeholder="Senha" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="forgot-link">
                    <a href="">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn">Entrar</button>
                <p>Ou entre com o Google</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <form action="/register" method="post">
                <h1>Cadastre-se</h1>
                <div class="input-box">
                    <input type="text" placeholder="Nome de usuário" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Senha" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="forgot-link">
                    <a href="">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn">Cadastrar</button>
                <p>Ou Cadastre-se com redes sociais.</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                </div>
            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Bem vindo de volta!</h1>
                <p>Não tem uma conta?</p>
                <button class="btn register-btn">Criar</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Bem-vindo!</h1>
                <p>Já possui uma conta?</p>
                <button class="btn login-btn">Entrar</button>
            </div>
        </div>
    </div>

    <script src="JS/login.js"></script>
</body>
</html>