<%- include('partials/header.ejs') %>

<main>
    <div class="tables-wrapper">
        <h2>Produtos Cadastrados</h2>
        <table class="products-table">
            <tr>
                <th>Produto</th>
                <th>Valor</th>
                <th>Ações</th>
                <th>Campanha</th>
            </tr>
            <tr>
                <td>Quasar Fire</td>
                <td>149,90</td>
                <td><button>...</button></td>
                <td>Ativa</td>
            </tr>
            <tr>
                <td>Essencial Supreme</td>
                <td>149,90</td>
                <td><button>...</button></td>
                <td>+</td>

            </tr>
            <tr>
                <td>Egeo Blue</td>
                <td>149,90</td>
                <td><button>...</button></td>
                <td>+</td>

            </tr>
            <tr>
                <td>Lily</td>
                <td>149,90</td>
                <td><button>...</button></td>
                <td>Ativa</td>
            </tr>
            <tr>
                <td>Club 6</td>
                <td>149,90</td>
                <td><button>...</button></td>
                <td>+</td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>