:root {
    --primary-color: #5426af;    /* Cor principal */
    --primary-hover: #3a1c7a;    /* Hover escuro */
    --secondary-color: #e8e2f3;  /* Fundo suave */
    --accent-color: #48e5c2;     /* Destaques (teal) */
    --text-dark: #2a2a2a;
    --text-light: #ffffff;
  }

header{
    background-color: var(--primary-color);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 .6rem;
}

.hamburguer {
    display: block;
    cursor: pointer;
}
.hamburguer .line {
    width: 30px;
    height: 3px;
    background-color: #fcfaf9;
    margin: 6px 0;
}

h2#logo {
    color: #fcfaf9;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
}

nav {
    z-index: 99;
    height: 0px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #5426af;
    transition: .2s;
    overflow: hidden;
}

nav.active {
    height: 260px;
}

div.routes {
    box-shadow: 0px 4px 1px 2px rgba(0, 0, 0, 0.185);
}

nav ul {
    display: block;
    width: fit-content;
    margin: 10px auto 0;
    text-align: center;
    transition: .5s;
    opacity: 0;
    list-style: none;
    padding: 0;
}
nav.active ul {
    opacity: 1;
}

nav ul li a {
    margin-bottom: 12px;
    text-decoration: none;
    color: var(--text-light);
    transition: color .3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

nav ul li {
    padding: .5rem 1rem;
    text-align: center;
    font-size: 1.25rem;
}

div.profit p {
    margin: 0;
}

div.profit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.profit p {
    color: #fcfaf9;
}

div.profit > p:last-child {
    background-color: rgba(0, 0, 0, 0.699);
    padding: 0.5rem 1rem;
    border-radius: .6rem;
    text-align: center;
    margin-left: .2rem;
}