@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #333333;
    --color2: #48e5c2;
    --color3: #fcfaf9;
    --color4: #f3d3bd;
    --color5: #5e5e5e;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

body {
    min-height: 100vh;
}

div.profit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.profit p {
    color: #fcfaf9;
}

div.profit > p:last-child {
    background-color: rgba(0, 0, 0, 0.699);
    padding: 0.5rem 1rem;
    border-radius: .6rem;
    text-align: center;
    margin-left: .2rem;
}

main {
    width: 100%;
}

h2, h3 {
    color: #5426af;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
}

div.tables-wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}


table {
    margin: 1rem 0;
    width: 100%;
}

table, th, td {
    border-collapse: separate;
    border-spacing: 0;
    overflow-x: auto;
}

th, td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    border-right: 1px solid rgba(0, 0, 0, 0.301);
    padding: .2rem .4rem;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.301);
}

table tr th {
    border-top: 1px solid rgba(0, 0, 0, 0.301);
}

table tr:last-child {
    border-bottom: 1px solid black;
}

table tr:first-child th:first-child {
    border-top-left-radius: 0.8rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: 0.8rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 0.8rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.8rem;
}

table tr:nth-child(even) {background-color: #f2f2f2;}

table th {
    background-color: #5426af;
    color: white;
}

table.clients-table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

td button {
    background-color: #33333325;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem .4rem;
    border-radius: .5rem;
}

div.current-magazines {
    margin: 0 auto 20px;
}

div.boticario h3, div.avon h3{
    margin: 2rem;
    font-size: 1.5rem;
}

div.catalogs {
    background-color: #5426af7c;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.catalogs img {
    margin: 1rem .5rem;
    height: 32vh;
    width: 26vw;
    min-width: 8rem;
    min-height: 11rem;
    border-radius: .6rem;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        padding: 10px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .container div.tables-wrapper.home:first-child {
        width: 60%;
        margin-left: 0;
    }

    table.clients-table {
        display: table;
        width: 100%;
    }

    h2 {
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: .5rem;
        text-align: left;
    }

    .tables-wrapper.home h3, div.boticario h3, div.avon h3 {
        font-size: 2rem;
    }

    table th, table td {
        padding: 1rem .5rem;
    }

    /* table.recent-sales {
        display: inline;
        white-space: wrap;
        width: 100%;
    } */

    .container div.tables-wrapper.home:last-child {
        width: 40%;
        margin-right: 0;
    }

    div.current-magazines {
        margin-left:15px;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div.boticario, div.avon {
        width: 49%;
        height: 100%;
    }

    div.catalogs {
        height: 100%;
        border-radius: 1.5rem;
    }

    div.catalogs img {
        margin: 1rem .5rem;
        height: 36.5vh;
        width: 15.5vw;
        max-width: 19rem;
        max-height: 25rem;
        min-width: 9rem;
    }
}

@media screen and (min-width: 790px) {
    main {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    table.recent-sales, table.products-table {
        display: block;
        overflow: auto;
        white-space: nowrap;
    }
}

@media screen and (min-width: 2100px) {
    main {
        max-width: 2000px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
    table th, table td {
        font-size: 1.6rem;
    }
}